{% extends 'main.html' %}

{% block content %}

<!-- {% include 'status.html' %} -->

<div class="col-sm-8">
    <h4 class="text-center alert alert info">Battery Data</h4>
    <form action="" method="GET">
        {% if battery_data %}
                <!-- {{fm.label_tag}} {{fm}} {{fm.errors|striptags}} <br><br> -->
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Index</th>
                        <th scope="col">Model_name</th>
                        <th scope="col">Battery_serial_num</th>
                        <th scope="col">Battery_type</th>
                        <th scope="col">Bms_type</th>
                        <th scope="col">Iot_type</th>
                        <th scope="col">Iot_imei_number</th>
                        <th scope="col">Warrenty_start_date</th>
                        <th scope="col">warrenty_duration</th>
                        <th scope="col">Status</th>
                        <th scope="col">Battery_cell_chemistry</th>
                        <th scope="col">Battery_pack_nominal_voltage</th>
                        <th scope="col">Battery_pack_nominal_charge_capacity</th>
                        <th scope="col">charging_status</th>
                        <th scope="col">Action</th>
                        
                      </tr>
                    <tbody>
    
                    {% for fm in battery_data %}
                      <tr>
                        <th scope="row">1</th>
                        <td>{{fm.model_name}}</td>
                        <td>{{fm.battery_serial_num}}</td>
                        <td>{{fm.battery_type}}</td>
                        <td>{{fm.bms_type}}</td>
                        <td>{{fm.iot_type}}</td>
                        <td>{{fm.iot_imei_number}}</td>
                        <td>{{fm.warrenty_start_date}}</td>
                        <td>{{fm.warrenty_duration}}</td>
                        <td>{{fm.status}}</td>
                        <td>{{fm.battery_cell_chemistry}}</td>
                        <td>{{fm.battery_pack_nominal_voltage}}</td>
                        <td>{{fm.battery_pack_nominal_charge_capacity}}</td>
                        <td>{{fm.charging_status}}</td>

                        <td>
                          <a href="{% url 'updatedata' fm.battery_serial_num %}" class="btn btn-warning btn-sm">Edit</a>
                          <!-- <a href="{% url 'deletedata' fm.battery_serial_num %}" class="btn btn-danger btn-sm">DELETE</a> -->
                          <form action="{% url 'deletedata' fm.battery_serial_num %}" method="POST" class="d-inline">
                              {% csrf_token %}
                            <input type="submit" class="btn btn-danger" value="Delete">
                          </form>
                        </td>
                      </tr>
                      {% endfor %}
                      <!-- <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>@twitter</td>
                      </tr> -->
                    </tbody>
                    </thead>
                  </table>
            
        {% else %}
            <h4 class="text-center alert alert warning">No Data Found</h4>
        {% endif %}

        
    </form>
    
</div>


{% endblock %}