{% load i18n %}

{% block head_title %}{% trans "Logout" %}{% endblock %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Products</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
        </li>
      </ul>
    </div>
    <div class="text-center">
      <!-- <h1>{% trans "Sign Out" %}</h1>       -->
      <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <button class="btn btn-light" type="submit">{% trans 'Logout' %}</button>
      </form>
      </div>
    <!-- <span ><a  class="hello-msg" href="{% url 'logout' %}">Logout</a></span> -->
  </nav>