/* #logo{
}

body{
    background-color: #ebeff5;
}


#total-orders{
    background-color: #4cb4c7;
}


#orders-delivered{
    background-color: #7abecc;
}

#orders-pending{
    background-color: #7CD1C0;
} */

#total-orders{
    background-color: #4cb4c7;
}


#orders-delivered{
    background-color: #7abecc;
}

#orders-pending{
    background-color: #7CD1C0;
}
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: whitesmoke !important;
}
.user_card {
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background: #74cfbf;
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

}
.container{
    width: 100%;
    HEIGHT: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.p_center{
    text-align: center;
}
.form_container {
    /* margin-top: 20px; */
}

#form-title{
    color: #fff;
    
}

.login_btn {
    width: 100%;
    background: #0a7093 !important;
    color: white !important;
    margin: 1em 0;
}
.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.login_container {
    padding: 0 2rem;
}
.input-group {
        margin: 1em auto !important;
}
.input-group-text {
    background: #f7ba5b !important;
    color: whitesmoke !important;
    border: 0 !important;
    padding: 0.75rem 0.75rem !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

#messages{
    background-color: grey;
    color: #fff;
    padding: 10px;
    margin-top: 10px;
}
/* .ml-2{
    margin-left: 2em;
} */
.mt-3{
    margin: 1em!important;
}
.mt-4 {
    margin: 0.5rem!important;
}
.flex-content-center{
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    margin: 0 1em;
}

.loginwithgoogle{
  display: flex;
  justify-content: center;
  margin-top: 1%;
  
}